/** css para comun a las demos **/
@font-face{font-family:"Yanone Kaffeesatz";src: url(../fonts/YanoneKaffeesatz-Regular.otf); format("opentruefont");}
@font-face{font-family:"Yanone Kaffeesatz bold";src: url(../fonts/YanoneKaffeesatz-Bold.otf); format("opentruefont");}
@font-face{font-family: "GeosansLight"; src: url(../fonts/GeosansLight.ttf); format("truetype");}

html{
	height: 100%;
	overflow-y: scroll;
}

body {
	font-size: 1em;
	font-family: Helvetica, Arial, Verdana;
	text-align: center;
	background: #E5E5E5;
	color: #1a1a1a;
	text-shadow: 0px 1px 1px #777777;
	margin: 0;
	padding: 0;
	height: 80.6%;
}

br {
	clear: both;
}
pre{

}
code{
	position: relative;
	background: #D5D5D5;	
	text-align: left;
	display: inline-block;
	width: 50%;
	padding: 2em;
	box-shadow: .1em .1em .2em #999 inset;
	float: right;
	margin-top: 1em;
}
.left{
	clear: both;
	float: left;
	width: 40%;
}

#pagina {
	position: relative;
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 .5%;
	min-height: 50%;
}

h1 {
	position: relative;
	font-size: 1.5em;
	margin: 1em 0 .1em 0;
	padding: 0;
	color: #1a1a1a;
	font-weight: normal;
}
h2 {
	font-size: 1.1em;
	margin: 0 0 2em 0;
	font-weight: normal;
}
h3, h4 {
	font-family:"Yanone Kaffeesatz";
	text-transform: uppercase;
	font-weight: normal;
	clear: both;
	margin: 2em 0 0 0;
}
h4{
	border-bottom: 1px dotted #1a1a1a;
}

.boton-comun{
	text-transform: lowercase;
	font-variant: small-caps;
	color: #FFF;
	text-shadow: none;
	text-decoration: none;
	font-size: 1em;
	font-family: "Yanone Kaffeesatz", Impact;	
}
#volver {
	position: relative;
	clear: both;
	margin: 1em 0;
	font-size: 1.1em;
	padding-bottom: 75px;
}

#volver a {
	color: #e5e5e5;
	text-decoration: none;
	border-radius: 2px;
	padding: .5em 1em;
	background: #1a1a1a;
	text-shadow: none;
}

#volver a:hover{
	background: #550000;	
}

#pie {
	color: #1a1a1a;
	clear: both;
	padding: 0 0 3em 0;
	z-index: 10;
	text-align: left;	
}
#pie .group-contenido{
	border-top: 1px dotted #777;
}

#pie .logo img {
	position: relative;
	width: 3%;
	display: inline;
	top: 1em;
	left: -.5em;
}

p.etiqueta {
	font-size: 1.1em;
	text-shadow: none;
}
#contenido-fijo{clear: both;}
.group-contenido{
	padding-top: 1em;
	margin: 0 auto;
	overflow: hidden;
	width: 98%;
	max-width: 1280px;
}
.componente-pie {
	width: 60%;
	float: left;
}
.componente-pie:nth-child(2n){
	float: right;
	text-align: right;
	width: 30%;
}
.componente-pie:nth-child(1n) h3{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
#follow-me{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}
#follow-me li{
	display: inline;
}
#follow-me li a{
	display: block;
	float: left;
	background: url(../img/sprite-redes-follow.png) no-repeat 0% 0%;
	padding: 0 0 0 1.3em;
	margin-left: 1em;	
}
#follow-me li:nth-child(2n) a{background-position: 0% 50%;}
#follow-me li:nth-child(3n) a{background-position: 0% 100%;}
.FF #follow-me li:nth-child(1n) a{background-position: 0% -5%;}
.FF #follow-me li:nth-child(2n) a{background-position: 0% 50%;}
.FF #follow-me li:nth-child(3n) a{background-position: 0% 104%;}

.componente-pie a{font-size: .9em;color: #1a1a1a;text-decoration: none;text-transform: lowercase;font-variant: small-caps;font-weight: bold;}
.componente-pie a:hover{text-decoration: underline;}

.componente-contenido{
	width: 50%;
	float: left;
	text-align: left;
	overflow: hidden;
	margin-bottom: 2em;
}
.componente-contenido:nth-child(2n){
	text-align: right;
}

/** compartir articulo **/
#botones-sociales a{position: relative; color: #FFF; font-family:"Yanone Kaffeesatz"; font-weight: bold; text-decoration: none; padding: 1em; display: inline-block; background: url(../img/sprite-enlaces-sociales.png) #1a1a1a no-repeat 50% -9%; border-radius: 2px; transition: all .2s ease 0s;}
#botones-sociales a span{position:absolute; text-indent:-999em; opcity: 0; visibility: hidden;}
#botones-sociales a:nth-child(2n){background-position: 50% 47%}
#botones-sociales a:nth-child(3n){background-position: 50% 105%}

#botones-sociales a:nth-child(1n):hover{background-color: #00C0F7;}
#botones-sociales a:nth-child(2n):hover{background-color: #D54937;}
#botones-sociales a:nth-child(3n):hover{background-color: #3B5998;}

/** navegadores **/
#test-navegadores{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}
#test-navegadores li{
	display: inline-block;
	text-transform: lowercase;
	font-variant: small-caps;
	background: url(../img/sprite-navegadores.png) no-repeat 0% -5%;
	padding: .2em 0 .2em 1.5em;
	margin-right: 1em;
}
#test-navegadores li.chromium{background-position: 0% 48%;}
#test-navegadores li.opera{background-position: 0% 103%;}

.sub-group{
	text-align: left;
}
.download{
	background: url(../img/download-11-icon.png) no-repeat 99% 55%;
	padding:  0 1.5em 0 .2em;	
	color: #1a1a1a;
	text-decoration: none;
	border: 1px dotted #1a1a1a;
	border-radius: 2px;
}
.col-3{
	float: left;
	width: 30%;
	margin-right: 5%;
}
.col-3:last-child{
	margin-right: 0;
}

#bloque-adsbygoogle{
	width: 100%;
	margin-bottom: 2em;
}
#bloque-adsbygoogle iframe img{
	width: auto !important;
	max-width: 100% !important;
}
/** cerra cookie **/
#mensaje-cookies{-moz-transition: all .5s ease 0s;position: fixed; background: #555; background: rgba(5, 5, 5, .3);display: block;text-align: center;width: 100%;bottom: 0;left: 0;margin: 0;padding: 1em 0 0 0;font-size: .8em; box-shadow: 0 0 .4em -.2em #000; z-index: 10; color: #FFF;}
#mensaje-cookies:hover{background: #333;}
#mensaje-cookies.abierto{bottom: 0;}
#mensaje-cookies.cerrado{bottom: -10em;}
.boton-cook, .boton-cook:hover{background: #E5E5E5; padding: .2em .5em; color: #1a1a1a; text-decoration: none; text-transform: lowercase; font-variant: small-caps; font-family: Helvetica, Verdana, Arial; font-size: .8em; text-shadow: none;}
/** mediaqueries **/
@media screen and (max-width:600px) {
	.col-3{width: 100%;margin: 0;float: none;}
	.left, code{width: 100%;float: none;}
}
@media screen and (max-width:480px) {
	#pagina{margin-right: 1.5%; margin-left: 1.5%;}
	.componente-pie, .componente-pie:nth-child(2n){width: 100%; float: none; margin-bottom: 1em; text-align: center;}
	.componente-pie h3.etiqueta{float: none; display: block;}
	#follow-me{display: block; text-align: center;}
	#follow-me li a{display: inline; float: none;}	
	#mensaje-cookies.cerrado{display:none;}
}
