-webkit-overflow-scrolling: touch;
a { text-decoration: none; }

.title {
  float: left;
  color: #fff;
  position: relative;
  top: 1px;
}

.clear { clear: 'both'; }

#circle {
  background: #f86057;
  border-radius: 150px;
  color: #fff;
  display: table-cell;
  font-size: 60px;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  width: 300px; 
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

header {
 	height: 78px;
	margin-top: -74px;
	padding: 10px 10px 10px 0px;
	position: fixed;
	text-decoration: none;
	width: 100%;
	z-index: 5;
}

#content {
  background-color: #eee;
  min-height: 1000px;
  padding: 52px 10px 10px 10px;
  position: relative;
  width: auto;
  -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
#busquedaAux{
  width: 100%;
  height: 100%;
  margin-left: 0%;
  margin-top: -300%;
  position: fixed;
  top: 35px;
  width: 100%;
  z-index: 1;
}
nav {
  background: #FFF;
  height: 100%;
  margin-left: 100%;
  position: fixed;
  top: 65px;
  width: 61%;
  z-index: 2;
}

nav ul {
  background: url("../img/bgmenu.png");
  height:100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav li {
  padding: 25px;
  position: relative;
}

nav li a {
  color: #222;
  text-decoration: none;
}


.boton {
  cursor: pointer;
  display: none;
  float: right;
  height: 20px;
  padding-right: 10px;
  position: relative;
  margin-top: 3%;
  width: 30px; 
}

.boton div {
  background-color: #fff;
  height: 4px;
  margin-top: 3px;
  width: 90%;
}

.boton.is-active {
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative;
  margin-top: 22px;
  width: 30px;
  float: right;
  padding-right: 10px;
  display: block;
}

.boton.is-active div {
  background-color: #fff;
  height: 3px;
  margin-top: 3px;
  width: 90%;
}

.hamburger-action { cursor: pointer; }

#hamburger-overlay {
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  background: #000;
}

#hamburger-overlayy {
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  background: #000;
}