li#option1:not(Safari*:root) {width: 67.5px;}
li#option2:not(Safari*:root) {width: 67.5px;}
li#option3:not(Safari*:root) {width: 67.5px;}
li#option4:not(Safari*:root) {width: 67.5px;}

-webkit-overflow-scrolling: touch;

#contenedor1result{
	margin-bottom: 25px;
}
#my_popup{
	width: 90% !important;
	height: 300px !important;
	top: 5px !important; 
	background:url("../img/bgapp.jpg") no-repeat fixed center;
}
#contentContador{
	position: fixed;
    background: #FFD500;
	margin-left: 92.5%;
	top: 151px;
	z-index: 1;
	width: 70px;
	height: 25px;
	display:none;
}
#divisorCaja, #dividendoCaja, #conTri{
	display: inline-block;
	vertical-align: top;
	width: 43%;
	height: 25px;
}
#conTri{
	
	width: 13px;
	margin-left: -13px;
}
#divisorCaja{
	
	border-right: solid .06em #000;
}
#divisorCaja img{
	margin-left: 10px;
}

#dividendoCaja{
	
}
#divisor, #dividendo{
	line-height: 27px;
	-webkit-margin-before: 0 !important;
	-webkit-margin-after: 0 !important;
	font-size: 15px;
}
#linead{
	margin-top: -23px;
	margin-bottom: 0 !important;
	margin-left: 28px;
}

#itemscenter{
	height: 49px;
	width: 100%;
	display: none;
	margin-bottom: 50px;
	
}
#submenucon{
	width: 100%;
	height: 40px;
	padding-top: 28px;
}
.submenu,.submenuu,.routeOptions {
	
	height: 40px;
	width: 287px;
	-webkit-margin-before: 0em !important;
	-webkit-margin-after: 0em !important;
	-webkit-padding-start: 0px !important;
	border-radius: 7px;
	margin: 0px auto;
	line-height: 40px;
	display: -webkit-inline-flex;
}
.submenu{
	background: #E8E8E8;
}
.submenuu,.routeOptions{
	width: 300px;
}
#submenu2{
	width: 300px;
	height: 40px;
	margin: 40px auto 20px;
}
#subop1,#subop2,#subop3,#subop4{
	display: inline-block;
	vertical-align: top;
	width: 62px;
	height: 40px;
	margin: 0 auto;
	background: #E8E8E8;
	border-radius: 6px;
}
#subop1{
	width: 90px;
}

#option1, #option2, #option3, #option4{
	background: #E8E8E8;
	display: inline-block;
	height: 40px;
	vertical-align: top;
	width: 67.5px;
	-webkit-margin-before: 0em !important;
	-webkit-margin-after: 0em !important;
	text-align: center;
}
#option1{	
	background: url("../img/submenu/icon-list.png")no-repeat center;
	border-radius: 7px 0px 0px 7px;
}
#option2{background: url("../img/icomapa.png")no-repeat center;}
#option3{background: url("../img/submenu/icon-sale.png")no-repeat center;}
#option4{
	background: url("../img/submenu/icon-buscar.png")no-repeat center;
	border-radius: 0px 7px 7px 0px;
}

ul.submenu #option1.active{
	background-color: rgb(206, 157, 9);
	background: orange url("../img/submenu/icon-list-black.png")no-repeat center !important;
}
ul.submenu #option2.active{
	background-color: rgb(206, 157, 9);
	background: orange url("../img/icomapa.png")no-repeat center !important;
}
ul.submenu #option3.active{
	background-color: rgb(206, 157, 9);
	background: orange url("../img/submenu/icon-sale-black.png")no-repeat center !important;
}
ul.submenu #option4.active{
	background-color: rgb(206, 157, 9);
	background: orange url("../img/submenu/icon-buscar-black.png")no-repeat center !important;
}

#subop1{
	background: #E8E8E8 url("../img/ico-comollegar.png")no-repeat center;
}
#subop2{
	background: #E8E8E8 url("../img/ico-auto-n.png")no-repeat center;
}
#subop3{
	background: #E8E8E8 url("../img/ico-publico-n.png")no-repeat center;
}
#subop4{
	background: #E8E8E8 url("../img/ico-caminando-n.png")no-repeat center;
}

ul.submenuu #subop2.active{
	background: orange url("../img/ico-auto-b.png")no-repeat center !important;
}
ul.submenuu #subop3.active{
	background: orange url("../img/ico-publico-b.png")no-repeat center !important;
}
ul.submenuu #subop4.active{
	background: orange url("../img/ico-caminando-b.png")no-repeat center !important;
}

ul.routeOptions #subop2.active{
	background: orange url("../img/ico-auto-b.png")no-repeat center !important;
}
ul.routeOptions #subop3.active{
	background: orange url("../img/ico-publico-b.png")no-repeat center !important;
}
ul.routeOptions #subop4.active{
	background: orange url("../img/ico-caminando-b.png")no-repeat center !important;
}
#travelMode{
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
  -webkit-padding-start: 0 !important;
}


#results{
	position: relative;
	background: #A6A3A3;
	padding: 50px;
	color: white;
	margin-bottom: 12px;
	margin-top: 12px;
	border-radius: 4px;
	margin-left: 10px;
	margin-right: 10px;
}
#localizacion{
	text-align: center;
}
#my_popup_wrapper{
	height: 62% !important;
}
#btncerrarp{
	width: 12% !important;
	margin: 0 auto !important;
}
#contentcab{
	display:inline-block;
	height: 20px;
	margin: 0 auto;
	margin-bottom: -5px;
	margin-top:5px;
	text-align:left;
	width: 98%;
	text-transform: uppercase;
}

#contentcabnopago{
	display:inline-block;
	height: 20px;
	margin: 0 auto;
	margin-bottom: -5px;
	margin-top:5px;
	text-align:left;
	width: 80%;
	text-transform: uppercase;
	  float: left;
  margin-left: 13px;
}

#nuevaBusqueda{

  width: 177px;
  height: 38px;
  border-radius: 10px;
  background-color: #00a09a;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;

}
#nuevaBusqueda p{
		font-size: 14px;
	color: #fff;
	line-height: 10px;
}

.contentr1{
	background: #E7E7E7;
	height: 125px;
	margin: 0px auto;
	margin-top: 5px;
	width: 98%;
}

#contentlog, #contentinfo, #contentitems, #contentitemsnopago{
	display: inline-block;	
	vertical-align: top;
}

#contentlog{
	
	line-height: 80px;
	width: 80px;
}
#contentlog img{margin-top: 3px;}
#contentinfo{
	
	width: 85%;
}
#contentitems, #contentitemsnopago{		
	float: right;	  
  
}
#item1{	
	height: 40px;
	line-height: 50px;
	width: 100%;
}

#item1 img:active{
	background-color: rgba(208, 205, 205, 0.8);	
}

#item2, #item3, #item4{
	display: inline-block;
	height:50px;
	vertical-align: top;
	width: 47px;	
}

#item2 img:active, #item3 img:active, #item4 img:active {
background-color: rgba(208, 205, 205, 0.8);
border-radius: 10%;
}


#item2 img, #item3 img, #item4 img{
	margin-top: 5px;
}


#direccion, #direccion2, #telefono, #correo, #web{	
	height:15px;
	margin-top:2px;
	text-align:left;	 
	
}
#telefono, #correo{
	width: 78%;
}

#direccion p, #direccion2 p, #telefono p, #correo p, #web p,#contentcab b, #contentcabnopago b{
	font-size: 11px;
	line-height:17px;
	margin-bottom: 0 !important;
	-webkit-margin-before: 0 !important;
	-webkit-margin-after: 0 !important;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	font-weight:0; 
}

#telefono{
	font-weight: bold;
}
#direccion p img{
	height: 12px;
}
#contentcab, #contentcabnopago{
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.noimg{
	width: 98% !important;
}

#section-1, #section-2, #section-3{
	background: #fff;
	  border-bottom: 1.5px solid #000;
	  height: 152px;
}
#section-5{
background: #fff;
border-bottom: 1.5px solid #000;
height:88px;	
}
#section-4{
background: #fff;
border-bottom: 1.5px solid #000;
height: 110px;		
}



#btncerrarpu{
	margin: 0px auto;
}
#contentbtnpu{
	width: 120px;
	height: 50px;
	margin: 0px auto;
}
#sale, #chat, #chatResultado{
	background: #333739;
	border-radius: 20px;
	width: 50%;
}

#infocontent{
	
	width: 100%;
	height: 280px;
	border-radius: 20px 20px 0px 0px;
	display: inline-block;
}

#infocontent img#EmpresaDir{
	margin-top: 10px;
}


.footerchat2 p, .footercontact2 p, .footerbuscar22 p, .footergps2 p{
	margin:4px;

}



#grid{
	display: inline-block;
}

#infocontent h3 p{
	margin: 0;
}

#infocontent h3 {
	
	margin-left: 45px;
	overflow: hidden;
}
#infocontent img{
	float: left;
}

#salecontent{
	margin: 0 auto;
	width: 100%;
	height: 300px;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	background-color: #3d3d3c;
}
#salecontent img{
	margin-top: 50px;
}
#empSinVerMas p{
	    color: #fff;
    margin-top: 10px;
    line-height: 3;
    padding: 0 10px;
    text-align: center;
}
#saleexit{
	background:#111416;
	width: 100%;
	height: 40px;
	border-radius: 0px 0px 20px 20px;
	text-align: center;
}
#saleexit img{
	margin-top: 10px;
}
#espacioresultados{
	width: 100%;
	height: 49px;
}
#contregresar{
	width: 30px;
	height: 50px;
	z-index: 30;
	position: absolute;
	margin-left: 15px;
	margin-top: 7px;
}
#contregresar a{
	margin-top: 9px;
    margin-left: 5px;
}

#noresultados{
	width: 300px;	
	border: 1px solid #000;
	border-radius: 10px;
	margin: 65px auto 10px;
}
#imgalerta{
	width: 100%;

	text-align: center;

}
#textalerta{
	color:#6C6B6B;
	text-align: center;
	width: 100%;
	padding: 6% 0;
	
	
}
#textalerta p, #btnalerta p{
   -webkit-margin-before: 0 !important;
   -webkit-margin-after: 0 !important;
   margin-bottom: 0 !important;
   line-height: 30px;
}
#imgalerta img{
	margin-top: 10px;
  vertical-align: -webkit-baseline-middle;

}
#btnalerta{
	width:215px;
	height:30px;	
	
}
#btnalerta p{}


/*MEDIA QUERIY*/
@media only screen and (min-width: 800px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -13px;
}
}

@media only screen and (max-width: 980px){
	#contentinfo{
		width: 82%;
	}
	#contentContador{
		margin-left: 92%;
		z-index: 1;
	}
	#contentitems, #contentitemsnopago{		
	float: right;	  
  	margin-top: -10px;
}
}
@media only screen and (width: 876px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 878px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 880px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}

@media only screen and (width: 882px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}

@media only screen and (width: 883px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}

@media only screen and (width: 884px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}

@media only screen and (width: 885px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 886px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 887px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 888px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 889px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 890px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 891px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 892px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 893px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 895px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 896px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 897px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 898px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 900px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 902px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 904px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 905px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 906px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 907px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 908px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 910px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 912px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 913px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 914px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 915px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}
@media only screen and (width: 916px){
#contentitems, #contentitemsnopago{		
	float: right;	  
  margin-top: -78px;
}
}








@media only screen and (max-width: 935px){
	#contentinfo {
		width: 72%;
	}
}
@media only screen and (max-width: 930px){
	#contentContador{
		margin-left: 91.7%;
		z-index: 1;
	}
	#contentinfo{
		width: 88%;
	}
	.noimg{
		width: 98% !important;
	}
	
}
@media only screen and (max-width: 875px){
	#contentinfo{
		width: 70%;
	}
	#contentContador{
		margin-left: 91.3%;
		z-index: 1;
	}
}

@media only screen and (max-width: 870px){
	#contentinfo{
		width: 79%;
	}
}
@media only screen and (max-width: 840px){
	.noimg {
		width: 98% !important;
	}
}
@media only screen and (max-width: 820px){
	#contentContador{
		margin-left: 90.8%;
		z-index: 1;
	}
}

@media only screen and (max-width: 775px){
	#contentinfo{
		width: 66%;
	}
	#contentContador{
		margin-left: 90%;
		z-index: 1;
	}
}
@media only screen and (max-width: 760px){
	#sale, #chat, #chatResultado{
		width: 60%;
	}
	
	#contentinfo{
		width: 65%;
	}
	.noimg {
		width: 98% !important;
	}

	#ecoIconos{
		position: relative;
  		
	}
}
@media only screen and (max-width: 730px){
	#contentinfo{
		width: 77%;
	}
	#contentContador{
		margin-left: 89.5%;
		z-index: 1;
	}
}
@media only screen and (max-width: 720px){
	#contentinfo{
		width: 63%;
	}
	.noimg {
		width: 89% !important;
	}
	
}
@media only screen and (max-width: 695px){
	#contentinfo{
		width: 75%;
	}
	#contentContador{
		margin-left: 89%;
		z-index: 1;
	}
	
}
@media only screen and (max-width: 680px){
	#contentinfo{
		width: 61%;
	}
}
@media only screen and (max-width: 660px){
	#contentinfo{
		width: 60%;
	}
	#sale, #chat, #chatResultado{
		width: 70%;
	}
	#contentContador{
		margin-left: 88.5%;
		z-index: 1;
	}
}
@media only screen and (max-width: 645px){
	#contentinfo{
		width: 59%;
	}
	.noimg {
		width: 97% !important;
	}
}
@media only screen and (max-width: 630px){
	#contentinfo{
		width: 73%;
	}
	#contentContador{
		margin-left: 88%;
		z-index: 1;
	}
}
@media only screen and (max-width: 615px){
	#contentinfo{
		width: 72%;
	}
	.noimg {
		width: 97% !important;
	}
	
}
@media only screen and (max-width: 590px){
	#contentinfo{
		width: 55%;
	}
	#contentContador{
		margin-left: 87%;
		z-index: 1;
	}
}
@media only screen and (max-width: 575px){
	#contentinfo{
		width: 53%;
	}
	.noimg {
		width: 97% !important;
	}
	.footerbuscar22 p{
		font-size: 12px;
	    text-align: left;
	    
	}
}
@media only screen and (max-width: 555px){
	#contentinfo{
		width: 70%;
	}
	#sale, #chat, #chatResultado{
		width: 80%;
	}
	#contentContador{
		margin-left: 86%;
		z-index: 1;
	}
	

}
@media only screen and (max-width: 535px){
	#contentinfo{
		width: 50%;
	}
	.noimg {
		width: 97% !important;
	}
}
@media only screen and (max-width: 525px){
	#contentinfo{
		width: 69%;
	}
}
@media only screen and (max-width: 510px){
	#contentinfo {
		width: 81%;
	}
	#contentitems{
		height:45px;
		text-align:left;
		width: 100%;
	}

	#contentitemsnopago{	 
	display: inline;
    float: right;
    margin-top: -69px;  
    position: relative;
	}
	
	#item1,	#item2, #item3, #item4{
		display: inline-block;
		height:45px;
		text-align:center;
		vertical-align: top;
	}
	#item1 img,	#item2 img, #item3 img, #item4 img{
		margin-top: 2px;
	}
	
	#item1{
		margin-left:4px;
		
	}
	#item2, #item3, #item4{
		width: 26%;
	}
	.contentr1{
		height: 165px;
	}
	.noimg {
		width: 96% !important;
	}
}
@media only screen and (max-width: 510px){
	#contentContador {
		margin-left: 85%;
		z-index: 1;
	}
	#contentinfo {
		width: 79%;
	}
	#sale, #chat, #chatResultado{
		width: 90%;
	}
	
}
@media only screen and (max-width: 480px){
	#contentContador {
		margin-left: 84%;
	}
}
@media only screen and (max-width: 470px){
	#item2, #item3, #item4 {
		width: 25.3%;
	}
	#contentinfo {
		width: 77%;
	}
	#contentContador {
		margin-left: 84%;
		z-index: 1;
	}
}
@media only screen and (max-width: 440px){
	#contentContador{
		  margin-left: 83%;
	}

}
@media only screen and (max-width: 430px){
	#contentContador {
		margin-left: 83%;
		z-index: 1;
	}
	#item2, #item3, #item4 {
		width: 24.5%;
	}
	#contentinfo {
		width: 75%;
	}
	.footerbuscar22 p{
		font-size: 12px;
	    text-align: center;
	    margin-top: -4px;
	}

}
@media only screen and (max-width: 410px){
	#contentContador {
		margin-left: 82%;
		z-index: 1;
	}
}
@media only screen and (max-width: 400px){
	#item2, #item3, #item4 {
		width: 24%;
	}
	#contentinfo {
		width: 74%;
	}
	
}
@media only screen and (max-width: 380px){
	#contentContador {
  		margin-left: 80%;
	}
}
@media only screen and (max-width: 375px){
	#contentContador {
		margin-left: 81%;
		z-index: 1;
	}
	#item2, #item3, #item4 {
		width: 23.5%;
	}
	#contentinfo {
	width: 72%;
    left: 0;
    
	}
}
@media only screen and (max-width: 355px){
		
	#item2, #item3, #item4 {
		width: 23%;
	}
	#contentinfo {
		
	}
	#contentContador {
		margin-left: 80%;
		z-index: 1;
	}
	#contentContador {
  		margin-left: 79%;
  	}
	
}
@media only screen and (max-width: 340px){
	#contentContador {
		margin-left: 79%;
		z-index: 1;
	}
	#item2, #item3, #item4 {
		width: 22.3%;
	}
	

	#contentinfo {
		width: 69%;
	}
	#contentContador {
  		margin-left: 78%;
	}
}